.footer-container {
    padding: 20rem 0 0 0;
    display: flex;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    background: linear-gradient(
      130deg,
      rgb(247, 3, 3) 0%,
      rgb(2, 6, 245) 50%,
      rgb(81, 249, 2) 100%
    );
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid rgba(14, 96, 22, 0.622);
    box-shadow: 2px 2px 2px 2px;
    justify-content: center;
    align-items: center;
    z-index: 20;
  }
  
  #contactLink {
    text-decoration: none;
    -webkit-text-stroke: 0.5px black;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
  
  @media screen and (max-width: 768px) {
    #contactLink {
      font-size: 15px;
    }
  }