#guestCartContainer {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  #rightButtonCart {
    height: 40px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background: rgb(5, 9, 250);
    border: 5px outset rgb(7, 250, 56);
  }
  
  #leftButtonCart {
    height: 40px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background: rgb(246, 40, 4);
    width: 150px;
  
    border: 5px outset rgb(60, 2, 249);
  }
  
  #selectedQuantity {
    font-family: "Zen Dots", cursive;
    width: 60px;
    height: 40px;
    border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: rgb(3, 241, 31);
    border: 5px outset rgb(248, 24, 4);
  }
  
  #rightButtonCart:hover,
  #leftButtonCart:hover,
  #selectedQuantity:hover {
    transform: scale(1.05);
  }
  
  #allthebuttons {
    display: flex;
    height: 40px;
    width: 300px;
    justify-content: center;
    margin-bottom: -10px;
    margin-top: -4px;
  }